<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('stef_gastouder_marjolein_page_homepage') }}">GASTOUDER MARJOLEIN</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('stef_gastouder_marjolein_page_about_roommates') }}">Even voorstellen</a></li>
                <li><a href="{{ path('stef_gastouder_marjolein_page_openingshours') }}">Openingstijden</a></li>
                <li><a href="{{ path('stef_gastouder_marjolein_page_timeplan') }}">Dagschema</a></li>
                <li><a href="{{ path('stef_gastouder_marjolein_page_about_de_staart') }}">Dordrecht "De Staart"</a></li>
                <li><a href="{{ path('stef_gastouder_marjolein_page_contact') }}">Contact</a></li>
            </ul>
        </div>
    </div>
</div>